* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}
.myntra {
  height: 45px;
}
.logo {
  /* margin: 4%; */
}
.action {
  margin-right: 4%;
}
.nav {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 4px solid #f54e77;
}
.nav a sup {
  color: #ff3f6c;
  font-size: 10px;
}
.search {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  width: 300px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_container {
  display: flex;
  gap: 20px;
}

.banner {
  width: 95vw;
}

.banner_image {
  width: 100%;
}

.items {
  display: flex;
  gap: 5px;
}

.footer_container {
  display: flex;
}
